body {
    margin: 0;
    padding: 0;
}

.nav-container {
    width: 100%;
    height: 70vh;
    background-image: url('./Images/banner2.jpg'), url('./Images/8.png');
    background-size: cover;
    background-position: left, right;
    background-repeat: no-repeat;
}


.navbar {
    overflow: hidden;
    color: white;
}

.logo {
    float: left;
    padding: 10px;
}

.logo img {
    width: 45%;
}

.nav-links {
    list-style-type: none;
}


.nav-links li {
    display: inline;
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
}

.nav-links li a:hover {
    border-bottom: 2px solid #f7d63e;
}

.secound-container {
    border: 2px solid;
    display: flex;
}

.image-container {
    position: relative;
    width: 100%;
    height: 70vh;
}

.overlay-image {
    position: absolute;
    top: 11rem;
    left: 37rem;
    width: 39%;
}